<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <meta name="viewport" content="initial-scale=1.0">
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="stylesheet" href="/styles/drag.css">
  <link rel="stylesheet" href="/styles/menu.css">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <link href="https://fonts.googleapis.com/css?family=Dosis:400,500,600,700|Lato:400,700,700i&display=swap" rel="stylesheet">

  <!-- font awesome -->

  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">



  <!-- JQUERY -->
  <script src='https://code.jquery.com/jquery-3.4.1.js'></script>
  <!-- Bootstrap -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js'></script>
  <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js'></script>

  <!-- support for drag and drop -->
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>  
  <script src="/js/jquery.ui.touch-punch.min.js"></script> <!-- this enables touch on mobile devices -->
  <script src="/js/drag.js"></script>

  <title>Smöthii</title>

</head>

<body>

  <div id="bodyDiv" style='overflow: auto;'>
  {{{body}}}
 </div>


  {{!-- <script src="//code.jquery.com/jquery-1.10.2.js"></script> --}}


</body>

</html>