<section id="add" class="container">
  <div class="calculation-wrap">
    <h1>Name of Smoothie</h1>

    <form action="./" method="POST">
      <div class="input-name">
        <label for="smoothie_name">Smoothie Name</label>
        <input type="text" name="smoothie-name" id="smoothie-name" class="input-box" placeholder="" maxlength="50"
          value={{}} </div> <div class="input-group">
        <label for="price">Price</label>
        <input type="number" name="price" id="price" class="input-box" placeholder="" maxlength="50" value={{}} </div>
</form> 
  </div> 
    </section>