<!-- BELOW should be included on main -->
  <!-- JQUERY -->
  <script src='https://code.jquery.com/jquery-3.4.1.js'></script> 
  <!-- Bootstrap -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js'></script>
  <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js'></script>
  <!-- data tables -->
  <script src='https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js'></script>
  <script src='https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js'></script>
<!-- ABOVE should be invluded on main -->
<div class='container'>
    <div class='row'>
        <div class='col-md-12'>
            <button id='load-ingredients' class='btn btn-primary' type='button'>Seed Ingredients</button>
            <button id='load-smothiis' class='btn btn-primary' type='button'>Seed Smothiis</button>
            <button id='load-recipes' class='btn btn-primary' type='button'>Seed Recipes</button>

        </div>
    </div>
</div>
<script src='/js/create-seeds.js'></script>
