<div class='container'>
    <h3>Test active</h3>
    <p><a href='/jd-index'>/jd-index</a></p>
    <p><a href='/jd-menu'>/jd-menu</a></p>
    <p><a href='/jd-choose-your-own'>/jd-choose-your-own</a></p>
    <p><a href='/jd-vend/1'>/jd-vend/:smothii_id</a></p>

    <h3>Administrative Functions</h3>

    <p><a href='/api/smothiis'>/api/smothiis</a> - return all smothiis</p>
    <p><a href='/api/smothii/detail/1'>/api/smothii/detail/:smothii_id</a> - get the smothii with id = smothii_id</p>
    <!-- 
        <p><a href='/api/smothii/user'>/api/smothii/:category</a> - get the smothiis with category = category (user, vege, fruit)</p>
    -->
    <p><a href='/api/ingredients'>/api/ingredients</a> - return all ingredients</p>
    <p><a href='/api/ingredient/1'>/api/ingredients/:ingredient_id</a> - return the indgredient with id = ingredient_id</p>
    <p><a href='/api/recipe/1'>/api/recipe/:smothii_id</a> - view the recipie for a smothii with id = smothii_id</p>
    <!-- 
        <p><a href='/api/purchase/1'>/api/purchase/smothii_id</a> - purchase the smothii with id = smothii_id</p>
    <p><a href='/api/restock/1'>/api/restock/:ingredient_id</a> - restock the ingredient with id = ingredient_id</p>
    -->
    <p><a href='/test/seed'>/test/seed</a>, - seed the starting ingredients, smothiis, recipes into a blank database</p>
    <p><a href='/test/create-my-own'>/test/create-my-own</a> - an example/test for creating a smothii and recipe
    <p><a href='/test/api/ingredient-list/1'>/test/api/ingredient-list/:smothii_id</a> - show the ingredient costs for a smothii</p>
    <p><a href='/test/api/cost/1'>/test/api/cost/:smothii_id</a> - show the total cost for the smothii</p>

    <h5>In progress (not yet working)</h5>
    <ul>
        <li>Purchase smothii</li>
        <li>Restock ingredient</li>
        <li>Select smothiis by category</li>
    </ul>

</div>