<!-- BELOW should be included on main -->
  <!-- JQUERY -->
  <script src='https://code.jquery.com/jquery-3.4.1.js'></script> 
  <!-- Bootstrap -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js'></script>
  <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js'></script>
  <!-- data tables -->
  <script src='https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js'></script>
  <script src='https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js'></script>
<!-- ABOVE should be invluded on main -->
<div class='container'>
    <div class='row'>
        <div class='col-md-12'>
            <button id='add-new' type='button' class='btn btn-success'> + ADD </button>
            <!-- form container: card -->
            <div id='new-record-card' class='card'>
                <div class='card-body'>
                    <h5 class='card-title'>View Smothiis</h5>
                    <!-- Record Set Table goes here -->
                    <table id='data-table' class='table table-hover table-bordered'>
                        
                    </table>
                </div>
            </div>
        </div>
    </div>
        <ul class='nav'>
            <li class='nav-item'>
                <a class='nav-link' href='/api/smothiis'>API Smothiis</a>
            </li>
            <li class='nav-item'>
                <a class='nav-link' href='/api/smothii/1'>API Smothii Detail</a>
            </li>
            <li class='nav-item'>
                <a class='nav-link' href='/test/view/smothiis'>View Smothiis</a>
            </li>
            <li class='nav-item'>
                <a class='nav-link' href='/test/add/smothii'>Add Smothii</a>
            </li>
        </ul>
</div>
<script src='/js/view-smothiis.js'></script>