<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6 align-middle">
        <p id="title">smöthii</p>
        <p id="tagline">refreshing, healthy & crazy fresh
          <br>right at your fingertips
        </p>

        {{!-- <h1>H1<br>H1</h1>

        <h2>H2<br>H2</h2>

        <h3></h3>

        <p>Body<br>Body</p>

<p id="ingredients">Coconut Milk<br>
Oranges</p>
        <p id="price">$6.50</p> --}}


<form action="#" method="get">
<button type="submit">Our Recipes</button>
<br>
<button type="submit">Make Your Own</button>
</form>




</div>
<div class="col-md-3"></div>
</div>
</div> 