<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6 align-middle">
        <p id="title">smöthii</p>
        <p id="tagline">refreshing, healthy & crazy fresh
          <br>right at your fingertips
        </p>

        {{!-- <h1>H1<br>H1</h1>

        <h2>H2<br>H2</h2>

        <h3></h3>

        <p>Body<br>Body</p>

<p id="ingredients">Coconut Milk<br>
Oranges</p>
        <p id="price">$6.50</p> --}}

<!-- jd - commented out to add ids 
<form action="#" method="get">
<button type="submit">Our Recipes</button>
<br>
<button type="submit">Make Your Own</button>
</form>
-->
<!-- jd - buttons that are clickable -->
      <form>
        <button id='btn-link-menu' type="submit">Our Recipes</button>
        <br>
        <button id='btn-link-create-your-own' type="submit">Make Your Own</button>
      </form>



<!-- needed to add a div close to match up with div open elements -->
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</div> 
<script src='/js/jd-index.js'></script>