<div id="home">
  <div class="container">
    <div class="row">
      <div id='ingredient-inventory'>

      </div>
      <hr>
      <button id='btn-link-index'>EXIT</button>
    </div>
  </div>
</div> 
<script src='/js/jd-restock.js'></script>