<nav class="navbar navbar-expand-lg">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" id="fruitButton" type="button">Fruit Recipes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="veggieButton" type="button">Veggie Recipes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="userButton" type="button">User Recipes</a>
      </li>
    </ul>
  </div>
</nav>
<div id="smoothieRecipes"></div>
  <!--Card-->
  <div class="smoothieCard" style='width: 150px;'>
    </div>
  </div>


<script src='/js/menu.js'></script>