    <ul id='navbarNav' class="nav justify-content-center">
      <li class="nav-item">
        <a href='#' class="nav-link" id="allButton" type="button">All</a>
      </li>
      <li class="nav-item">
        <a href='#' class="nav-link" id="fruitButton" type="button">Fruit</a>
      </li>
      <li class="nav-item">
        <a href='#' class="nav-link" id="veggieButton" type="button">Veggie</a>
      </li>
      <li class="nav-item">
        <a href='#' class="nav-link" id="userButton" type="button">Custom</a>
      </li>
    </ul>

<div id="smoothieRecipes">

</div>
<script src='/js/menu-2.js'></script>

