body{
  background-image: url(../images/background.jpg);
}
a.navbar-brand{
  font-family: Muli,sans-serif;
  font-size: 50px;
}
a{
  font-family: Muli,sans-serif;
  font-size: 15px;
}
.figure{
  background:

}
/* ----------------------------------------------- */
/* SMOOTHIE */
/* ----------------------------------------------- */

.section- {
  padding: 0;
}

.smoothie-showcase {
  list-style: none;
  width: 100%;
}

.smoothie-showcase li {
  display: block;
  float: left;
  width: 25%;
}

.smoothie {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000;
}

.smoothie img {
  opacity: 0.7;
  width: 150px;
  height: 150px;
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s;
}

.smoothie img:hover {
  opacity: 1;
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}


