.fruit_button{
  width: 150px;
}
.fill {
 
  /* background-image: url('https://images.pexels.com/photos/38283/bananas-fruit-carbohydrates-sweet-38283.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'); */ 
  background: red;
  position: relative;
  height: 150px;
  width: 150px;
  top: 5px;
  left: 5px;
  cursor: pointer;
}
.imagesize{
  width: 150px;
  height: 150px;
}
.hold {
  border: solid 5px #ccc;
}
.box { 
   display: inline-block; 
   height: 160px; 
   background: red; 
   border: 5px solid red;
 } 
.empty{
   display: inline-block;
   height: 300px;
   width: 300px;
   margin: 10px;
   border: solid 3px black;
   background: white;
}
.hovered {
  background: #f4f4f4;
  border-style: dashed;
}
#content{
  height: 700px;
}
.dragAble {
  
  width: 160px; height: 160px;
  border: 1px solid #888888;
  background: pink;
  margin: 10px 0;
  display:inline-block;
}
.dragAble p, .dropAble p {
  font-size: 15px;
  text-align: center;
  margin-top: 9px;
}
.dragAble p:hover, .dropAble p:hover {
  cursor: default;
}
/* this is the cup */
.dropAble, #smothii-cup {
  position: fixed;
  left: 40px;
  top: 325px;
  z-index: 10;
  color: aqua;
  /* background-color: burlywood; */
  width: 375px;
  /* height: 400px; */
  /* border: 2px dashed #888888;  */
}
.highlight {
  border: 2px solid yellow;
  background-color:yellow;
}

#selected-ingredients {
  position: fixed;
  left: 130px;
  top: 350px;
  width: 250px;
  /* border: 2px solid blue;  */
}

#btn-reset-recipe {
  position: fixed;
  left: 450px;
  top: 600px;
}

#btn-submit-recipe {
  position: fixed;
  left: 450px;
  top: 700px;
}

#go-left, #go-right {
  font-size: 400%;
  color: #7AC313;
}

#change-smothii-image {
  color: #f27690;
  font-size: 200%;
}

#btn-title-change-smothii {
  font-size: 150%;
}









