#navbarNav {
    height: 110px;
    background: #7AC313;
    font-family: "Dosis";
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 56px;
}

#navbarNav a {
    color: #FFFFFF;
    padding: 40px;
}

#navbarNav a:hover, a:active {
    color: rgb(243, 255, 73);
}