body {
  background: black;
}

#bodyDiv {
  background: white;
}

.fill {
  background-image: url('https://images.pexels.com/photos/38283/bananas-fruit-carbohydrates-sweet-38283.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  position: relative;
  height: 150px;
  width: 150px;
  top: 5px;
  left: 5px;
  cursor: pointer;
}
.imagesize{
  width: 150px;
  height: 150px;
}
.hold {
  border: solid 5px #ccc;
}

.box { 
   display: inline-block; 
   height: 160px; 
   background: red; 

   border: 5px solid red;

 } 

.empty{
   display: inline-block;
   height: 300px;
   width: 300px;
   margin: 10px;
   border: solid 3px black;
   background: white;
}

.hovered {
  background: #f4f4f4;
  border-style: dashed;
}




p {
  font-family: Lato, sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  line-height: 1em;
}

#home {
  background-image: url("../images/homebg.png");
  background-size: cover;
  background-attachment: scroll;
  background-repeat: none;
  background-position: center;
}

#title {
  font-family: Dosis, sans-serif;
  font-weight: 600;
  letter-spacing: -0.06em;
  text-align: center;
  font-size: 9em;
  padding-top: 1.3em;
  line-height: 0.9em;
}

#tagline {
  font-family: Lato, sans-serif;
  font-weight: 300;
  text-align: right;
  font-size: 23px;
  line-height: 27px;
  padding-bottom: 13em;
}

button {
  text-align: center;
  color: rgb(0, 0, 0);
  background-color: rgb(210, 236, 0);
  width: 17em;
  text-transform: uppercase;
  font-size: 1.2em;
  letter-spacing: 0.3em;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  border-image: initial;
  padding: 0.8em;
  margin: 0.8em auto;
}

form {
  padding: 0.5em 0.5em 9em;
  margin: 0px auto;
}

h1 {
  font-family: Lato, sans-serif;
  font-weight: 600;
  font-size: 5em;
  text-align: left;
  line-height: .9em;
  padding-bottom: .02em;
  text-transform: uppercase;
}

h2 {
  font-family: Lato, sans-serif;
  font-weight: 600;
  font-size: 3.2em;
  text-align: left;
  line-height: .95em;
  padding-bottom: .02em;
}

#ingredients {
  font-family: Lato, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 2.3em;
  line-height: 1em;
}

#price {
  font-family: Lato, sans-serif;
  font-weight: 400;
  font-size: 3em;
  text-align: center;
}

#bodyDiv{
  width: 768px;
  height: 1024px;
}
=======
.fill{
height: 100px;
width: 100px;

position: relative;
}

.empty{
  display: inline-block;
  height:110px;
  width: 110px;
  margin: 10px;
  border: 3px #d2ec00 solid;
  background-color: white;
}

.hold{
  border:solid lightgray 4px;
}

.hovered{
  background: white;
  border-style: dashed;
}

.invisible{
  display: none;
}

h1{
  font-size: 10px;
}

#cup{
  height: 500px;
  width:  400px;
  border: 3px #d2ec00 solid;
  background-image:url(https://images-na.ssl-images-amazon.com/images/I/31hYvWlyvbL._SX466_.jpg);
   
  margin: 0 auto;
}

p.sm-text {
  font-size: 1.00em;
}

 
.fruit_button{
  width: 150px;
}
 
.imagesize{
  width: 150px;
  height: 150px;
}
.hold {
  border: solid 5px #ccc;
}
.box { 
   display: inline-block; 
   height: 160px; 
   background: red; 
   border: 5px solid red;
 } 
.empty{
   display: inline-block;
   height: 300px;
   width: 300px;
   margin: 10px;
   border: solid 3px black;
   background: white;
}
.hovered {
  background: #f4f4f4;
  border-style: dashed;
}
#content{
  height: 700px;
}
.dragAble {
  
  width: 160px; height: 160px;
  border: 1px solid #888888;
  background: pink;
  margin: 10px 0;
  display:inline-block;
}
.dragAble p, .dropAble p {
  font-size: 15px;
  text-align: center;
  margin-top: 9px;
}
.dragAble p:hover, .dropAble p:hover {
  cursor: default;
}
/* this is the cup */
.dropAble {
  position: absolute;
  z-index: 10;
  color: aqua;
  background-color: burlywood;
  width: 300px; height: 400px;
  border: 2px dashed #888888;
  
 
  margin-top: -400px;
}
.highlight {
  border: 2px solid yellow;
  background-color:yellow;
}

/* some css for the modals - to keep from centering in viewport*/
.modal-dialog {
    position: absolute;
    /* right: 0; */
    top: 10px;
    left: 200px;
}
